{{> header}}

<section>
    <div class="container">
        <div class="article">
            <h1>Заголовок статьи</h1>
            <p class="article__info">Опубликовал <a href="">dimedrol228</a> 6 января 2020, 08:50</p>

            <p>Данная страница должна выдавать ошибку, если URI мэппинга article не содержит идентификатора статьи. Однако некоторое время здесь будет лежать шаблон статьи для тестирования.</p>

            $$E=mc^2$$

            <p class="caption">Формула 1.1: Проделки мсье Эйнштейна</p>

            <img src="img/bad_picture.png" alt="">

            <p class="caption">Рисунок 1.1: Неприкрытая пошлость</p>

            <p>Заметим, что нумерация для рисунков и формул должна автоматически распределяться без конфликтов.</p>


        </div>
    </div>
</section>

</body>
</html>