<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>neural.net - Статья</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Merriweather|Merriweather+Sans|Nunito:700&display=swap" rel="stylesheet">
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="header__inner">
            <div id="logo">
                <img src="logo_icon.png" alt="">
                <a href="">neaural.net</a>
            </div>

            <nav class="menu">
                <ul class="menu__list">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/article">Статьи</a></li>
                    <li><a href="/forum">Форум</a></li>
                    <li><a href="/faq">F.A.Q.</a></li>
                </ul>
            </nav>

            <div id="login">
                <a href="">Войти</a>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="article">
            <h1>Заголовок статьи</h1>
            <p class="article__info">Опубликовал <a href="">dimedrol228</a> 6 января 2020, 08:50</p>

            <p>Данная страница должна выдавать ошибку, если URI мэппинга article не содержит идентификатора статьи. Однако некоторое время здесь будет лежать шаблон статьи для тестирования.</p>

            $$E=mc^2$$

            <p class="caption">Формула 1.1: Проделки мсье Эйнштейна</p>

            <img src="img/bad_picture.png" alt="">

            <p class="caption">Рисунок 1.1: Неприкрытая пошлость</p>

            <p>Заметим, что нумерация для рисунков и формул должна автоматически распределяться без конфликтов.</p>


        </div>
    </div>
</section>

</body>
</html>