{{> header}}
<link rel="import" href="{{page}}">

<section>
    <div class="container">
        <div class="article">
            <h1>Заголовок статьи</h1>
            <p class="article__info">Опубликовал <a href="">dimedrol228</a> 6 января 2020, 08:50</p>

            <p>Данная страница должна выдавать ошибку, если URI мэппинга article не содержит идентификатора статьи. Однако некоторое время здесь будет лежать шаблон статьи для тестирования.</p>

            $$E=mc^2$$

            <p class="caption">Формула 1.1: Проделки мсье Эйнштейна</p>

            <img src="./img/bad_picture.png" alt="">

            <p class="caption">Рисунок 1.1: Неприкрытая пошлость</p>

            <p>Заметим, что нумерация для рисунков и формул должна автоматически распределяться без конфликтов.</p>
            <p>P.S>: Да пошел ты на хер со своими подписями, дибил</p>

            <p>А вот быстрая сортировка на C++ для маслят:</p>

            <pre>
            <code class="language-java">
                template&lt;class T&gt;
                void quickSortR(T* a, long N) {
                // На входе - массив a[], a[N] - его последний элемент.

                long i = 0, j = N-1; 		// поставить указатели на исходные места
                T temp, p;

                p = a[ N>>1 ];		// центральный элемент

                // процедура разделения
                do {
                    while ( a[i] < p ) i++;
                    while ( a[j] > p ) j--;

                    if (i <= j) {
                        temp = a[i]; a[i] = a[j]; a[j] = temp;
                        i++; j--;
                    }
                } while ( i<=j );


                // рекурсивные вызовы, если есть, что сортировать
                if ( j > 0 ) quickSortR(a, j);
                if ( N > i ) quickSortR(a+i, N-i);
                }
            </code>
            </pre>


            <div class="after__article__info">
                <i class="fas fa-eye"></i> 0
                <i class="far fa-heart"></i> 0
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1>Комментарии</h1>
        Здесь еще нет комментариев :(
        <div class="comment">
            <div class="commenter__info">
                dimedrol228

            </div>
            <div class="comment__inner">
                Потрясающая статья
            </div>
        </div>
    </div>

</section>

<script src="./js/prism.js"></script>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
    var doc = document.querySelector('link[rel="import"][href="{{page}}"]').import;
    var content = doc.querySelector("#{{page}}")
    document.body.appendChild(doc.cloneNode(true));
</script>

</body>
</html>