<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>neural.net - Личный кабинет</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Merriweather|Merriweather+Sans|Nunito:700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
		<div class="container">
			<div class="header__inner">
				<div id="logo">
					<img src="logo_icon.png" alt="">
					<a href="">neaural.net</a>
				</div>

				<nav class="menu">
					<ul class="menu__list">
						<li><a href="/">Главная</a></li>
						<li><a href="/article">Статьи</a></li>
						<li><a href="/forum">Форум</a></li>
						<li><a href="/faq">F.A.Q.</a></li>
					</ul>
				</nav>

				<div id="login">
					<a href="">Войти</a>
				</div>
			</div>
		</div>
    </header>
    
    <section>
        <div class="container">
            <div id="cab_title">Личный кабинет</div>
        </div>
    </section>
    
</body>
</html>