{{> header}}

<script src="https://cdn.tiny.cloud/1/zeh1mk4pppdr1bmwej4qod1hujgmu71142f1salp5swmhzcx/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
<script>tinymce.init({
    selector: 'textarea',
    plugins: 'code'
});</script>

<section>
    
    <div class="container">

        <h1>Редактирование статьи</h1>

        <form action="/article/publish" method="post">

            <div class="field">
                <label for="header">Заголовок статьи: </label>
                <input type="text" name="header">
            </div>

            <div class="field">
                <label for="hashtag">Хештеги:</label>
                <input type="text" name="hashtag" id="hashtag">
            </div>


            <div class="hashtags">
                <div class="hashtag">#java</div>
                <div class="hashtag">#spring</div>
                <div class="hashtag">#hibernate</div>
            </div>


            <div class="field">
                Содержимое:
                <textarea></textarea>
            </div>

            <button type="submit">Сохранить</button>
        </form>


         
    </div>

    <script>
        var hashtag = document.getElementById("hashtag");
        var hashtag_regExp = /(?:\s|^)#[A-Za-z0-9\-\.\_]+(?:\s|$)/;
        hashtag.onkeypress = function (event) {
            var res = hashtag_regExp.exec(hashtag.value);

        }
    </script>
    
</section>